<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [LACHESIS|%t] %-5level %c{1} - %msg%n"/>
    </Console>
    <File name="File" fileName="scheduler.log" immediateFlush="false" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console" level="trace"/>
      <AppenderRef ref="File" level="debug"/>
    </Root>
  </Loggers>
</Configuration>
